<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.5">
    <title>네이버 개발자 센터 - NAVER Developers</title>
    {% load static %}
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="{% static 'js/subMenu.js' %}"></script>
    <script src="{% static 'js/bxslider.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/total.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bxslider.css' %}">



    <script>
              $(function () {
                  $('#slidePanel').bxSlider({
                  auto: true,
                  autoControls: true,
                  controls: true,
                  pager: false,
                  });
                });





    </script>
</head>
<body>
<div id="wrap"> <!-- wrap 시작-->
    <div id="nav_wrap"> <!-- nav_wrap 시작-->
        <ul id="nav_index">
            <li><a class="nav_logo" href="#"><img src="{% static 'image/naverdev_img.jpg' %}"></a></li>
            <li><a class="index_area" id="Products" href="#"><span>Products</span></a></li>
            <li><a class="index_area" id="Documents" href="#"><span>Documents</span></a></li>
            <li><a class="index_area" id="Application" href="#"><span>Application</span></a></li>
            <li><a class="index_area" id="NAVER D2" href="#"><span>NAVER D2</span></a></li>
            <li><a class="index_area" id="Support" href="#"><span>Support</span></a></li>
            <li><a class="index_area" id="Forum" href="#"><span>Forum</span></a></li>
            <li><img src="{% static 'image/api_state.png' %} "></li>
            <li>
                <div id="search">
                    <input type="text" placeholder="Search Here">
                    <button id="button_search"><img src="{% static 'image/search.jpg' %}"></button>
                </div>
            </li>
            <li>
                <button id="login_btn">로그인</button>
            </li>
        </ul>
    </div>
</div>
<div id="subMenu_wrap">
    <div class="subMenuBox" id="ProductsBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API 이용 안내</a></li>
                <li><a href="#">API 소개</a></li>
                <li><a href="#">운영 정책</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">BI 가이드</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">상표사용 가이드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">CLOVA</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 아이디로 로그인</a></li>
                <li><a href="#">네이버 아이디로 로그인 API</a></li>
                <li><a href="#">카페</a></li>
                <li><a href="#">캘린더</a></li>
                <li><a href="#">적용 가이드</a></li>
                <li><a href="#">적용 사례</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">파파고</a></li>
                <li><a href="#">Papago 번역</a></li>
                <li><a href="#">언어 감지</a></li>
                <li><a href="#">한글인명-로마자 변환</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">서비스API</a></li>
                <li><a href="#">데이터랩</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">단축URL</a></li>
                <li><a href="#">캡차</a></li>
                <li><a href="#">네이버 공유하기</a></li>
                <li><a href="#">모바일앱 연동</a></li>
                <li><a href="#">네이버 오픈메인</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="DocumentsBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API공통 가이드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">CLOVA</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 아이디로 로그인</a></li>
                <li><a href="#">개요</a></li>
                <li><a href="#">검수 가이드</a></li>
                <li><a href="#">개발 가이드</a></li>
                <li><a href="#">API 명세</a></li>
                <li><a href="#">튜토리얼</a></li>
                <li><a href="#">SDK 다운로드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">파파고</a></li>
                <li><a href="#">Papago 번역</a></li>
                <li><a href="#">언어 감지</a></li>
                <li><a href="#">한글인명-로마자 변환</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">서비스API</a></li>
                <li><a href="#">데이터랩</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">단축 URL</a></li>
                <li><a href="#">이미지캡차</a></li>
                <li><a href="#">음성캡차</a></li>
                <li><a href="#">네이버 공유하기</a></li>
                <li><a href="#">모바일앱 연동</a></li>
                <li><a href="#">네이버 오픈메인</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="ApplicationBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">내 애플리케이션</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">애플리케이션 등록</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API제휴 신청</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">계정 설정</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="NAVER_D2_Box">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">D2 PROGRAM</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">D2.NAVER.COM</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 오픈소스</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="Support_Box">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">공지사항</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">라이선스 준수</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="slider_wrap"> <!-- slider_wrap 시작 -->
    <section>
        <article id="slider">
            <!--<div id="prevNextButtonBox">
                <img id="prevButton" src="{% static 'image/prevButton.png' %}">
                <img id="nextButton" src="{% static 'image/nextButton.png' %}">
            </div>-->
            <div id="sliderbanner">
                <div id="slidePanel">
                    <img src="{% static 'image/slide_img_01.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_02.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_03.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_04.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_05.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_06.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_07.png' %}" class="slideImage">
                    <img src="{% static 'image/slide_img_08.png' %}" class="slideImage">
                </div>
            </div>
            <div id="controlPanel">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
                <img src="{% static 'image/controlButton1.png' %}" class="controlButton">
            </div>
            <div class="prev">
                <img id="prevButton" src="{% static 'image/prevButton.png' %}">
            </div>
            <div>
                <img id="nextButton" src="{% static 'image/nextButton.png' %}">
            </div>
        </article>
    </section>
</div> <!--slider_wrap 종료-->
<div id="service_wrap"> <!-- service_wrap 시작-->
    <article id="service">
        <div id="service_list">
            <ul id="service_index">
                <li><a href="#"><img src="{% static 'image/CLOVA_ICON.png' %}"><br><span>CLOVA</span></a></li>
                <li><a href="#"><img src="{% static 'image/LOGIN_ICON.png' %}"><br><span>네이버 아이디로 로그인</span></a></li>
                <li><a href="#"><img src="{% static 'image/PAPAGO_ICON.png' %}"><br><span>papago</span></a></li>
                <li><a href="#"><img src="{% static 'image/API_ICON.png' %}"><br><span>서비스 API</span></a></li>
                <li><a href="#"><img src="{% static 'image/CLOUD_ICON.png' %}"><br><span>네이버 클라우드 플랫폼</span></a></li>
            </ul>
        </div>
    </article>
</div> <!-- service_wrap 종료-->
<div id="view_wrap"> <!-- view_wrap 시작-->
    <section>
        <article id="view">
            <div id="view_list">
                <div id="view_index">
                    <div><a href="#"><img src="{% static 'image/notice00.png' %}"></a></div>
                    <div><a href="#"><img src="{% static 'image/notice00.png' %}"></a></div>
                    <div><a href="#"><img src="{% static 'image/notice01.png' %}"></a></div>
                    <div><a href="#"><img src="{% static 'image/notice00.png' %}"></a></div>
                </div>
            </div>
            <a href="#" class="VIEW ALL">
                <div>VIEW ALL</div>
            </a>
        </article>
    </section>
</div> <!-- view_wrap 종료-->
<div id="foot_wrap"> <!-- foot_wrap 시작-->
    <div id="info"> <!-- info 시작-->
        <a class="btn_t" href="#">
            <span>이용약관</span>
        </a>
        <span class="copy_line">|</span>
        <a class="btn_t privacy" href="#">
            <span>개인정보처리방침</span>
        </a>
        <span class="copy_line">|</span>
        <a class="btn_t" href="#">
            <span>제휴신청</span>
        </a>
        <span class="copy_line">|</span>
        <a class="btn_t" href="#">
            <span>개발자포럼</span>
        </a>
        <span class="copy_line">|</span>
        <a class="btn_t" href="#">
            <span>개발자채용</span></a>
        <div class="copyright">
            <div class="logo_small">
                <a href="#" target="_blank">NAVER</a>
            </div>
            <a href="#" class="logo_fnaver" target="_blank"></a>
            <a href="#" class="txt">
                <strong>NAVER Corp.</strong>
            </a>All Rights Reserved.
        </div>
    </div> <!-- info 종료-->
</div> <!-- foot_wrap 종료-->
</div> <!-- wrap 종료-->
</body>
</html>