@charset "UTF-8";
/* slider.css */

.slider_wrap{
    width:100%;
    margin:0;
    position:relative;
    text-align:center;
    box-shadow:none;
}

.slider_wrap .bx_wrapper{
    height:100%
}
.controls .bx-prev, .controls .bx-next{
    position:absolute;
    top:40%;
    transform:translateY(-10%);
}
.controls .bx-prev{
    left:2%;
}
.controls .bx-next{
    right:2%;
}

.slider_wrap .controls span a{
    width: 60px;
    height: 60px;
    background-repeat:no-repeat;
    background-size:100%;
    display:block;
    text-indent:-9999em;
}


.slider_wrap .controls .prev a{
    position:absolute;
    cursor:pointer;
    background-image:url(../image/prevButton.png);
}

 .slider_wrap .controls .next a{
    position:absolute;
    cursor:pointer;
    background-image:url(../image/nextButton.png);
}

.slider_wrap .pager{
    position:absolute;
    text-align:center;
    left: 46%;
    transform:translateY(-520%);
}

.slider_wrap .pager img{
    opacity:0.4;
    width:13px;
}

.pager img:hover,
.pager .active,
.pager img:focus {
    opacity:1;
    content:url("../image/controlButton2.png");
}
