<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.5">
    <title>네이버 개발자 센터 - NAVER Developers</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/subMenu.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/total.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">

    <!-- bxSlider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


</head>
<body>
<div id="wrap"> <!-- wrap 시작-->
    <div id="nav_wrap"> <!-- nav_wrap 시작-->
        <ul id="nav_index">
            <li><a class="nav_logo" href="#"><img src="{% static 'image/naverdev_img.jpg' %}"></a></li>
            <li><a class="index_area" id="Products" href="#"><span>Products</span></a></li>
            <li><a class="index_area" id="Documents" href="#"><span>Documents</span></a></li>
            <li><a class="index_area" id="Application" href="#"><span>Application</span></a></li>
            <li><a class="index_area" id="NAVER D2" href="#"><span>NAVER D2</span></a></li>
            <li><a class="index_area" id="Support" href="#"><span>Support</span></a></li>
            <li><a class="index_area" id="Forum" href="../board"><span>Forum</span></a></li>
            <li><img id="api_state" src="{% static 'image/api_state.png' %} "></li>
            <li>
                <div id="search">
                    <input type="text" placeholder="Search Here">
                    <button id="button_search"><img src="{% static 'image/search.jpg' %}"></button>
                </div>
            </li>
            <li id="li_login">
                <button id="login_btn">로그인</button>
            </li>
        </ul>
        <div id="react-nav_index">
            <ul id="navbar">
                <a id="nav_toggle" href="#"><img src="{% static 'image/navbar_icon.jpg' %}"></a>
                <div id="react-subMenu">
                    <div class="react-subMenuItem" id="react-subMenuItem1">
                        <ul>
                            <div id="title-area">
                                <button><i class="fas fa-angle-left fa-2x"></i></button>
                                <li><a class="nav_item" href="#">Products</a></li>
                                <button><i class="fas fa-angle-right fa-2x"></i></button>
                            </div>
                            <li><a href="#">API 이용 안내</a></li>
                            <li><a href="#">CLOVA</a></li>
                            <li><a href="#">네이버 아이디로 로그인</a></li>
                            <li><a href="#">파파고</a></li>
                            <li><a href="#">서비스API</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
            <a id="react-logo" href="#"><img src="{% static 'image/naverdev_img.jpg' %}"></a>
            <a id="react-search" href="#"><img src="{% static 'image/search.jpg' %}"></a>
        </div>
    </div>
</div>
<div id="subMenu_wrap">
    <div class="subMenuBox" id="ProductsBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API 이용 안내</a></li>
                <li><a href="#">API 소개</a></li>
                <li><a href="#">운영 정책</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">BI 가이드</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">상표사용 가이드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">CLOVA</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 아이디로 로그인</a></li>
                <li><a href="#">네이버 아이디로 로그인 API</a></li>
                <li><a href="#">카페</a></li>
                <li><a href="#">캘린더</a></li>
                <li><a href="#">적용 가이드</a></li>
                <li><a href="#">적용 사례</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">파파고</a></li>
                <li><a href="#">Papago 번역</a></li>
                <li><a href="#">언어 감지</a></li>
                <li><a href="#">한글인명-로마자 변환</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">서비스API</a></li>
                <li><a href="#">데이터랩</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">단축URL</a></li>
                <li><a href="#">캡차</a></li>
                <li><a href="#">네이버 공유하기</a></li>
                <li><a href="#">모바일앱 연동</a></li>
                <li><a href="#">네이버 오픈메인</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="DocumentsBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API공통 가이드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">CLOVA</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 아이디로 로그인</a></li>
                <li><a href="#">개요</a></li>
                <li><a href="#">검수 가이드</a></li>
                <li><a href="#">개발 가이드</a></li>
                <li><a href="#">API 명세</a></li>
                <li><a href="#">튜토리얼</a></li>
                <li><a href="#">SDK 다운로드</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">파파고</a></li>
                <li><a href="#">Papago 번역</a></li>
                <li><a href="#">언어 감지</a></li>
                <li><a href="#">한글인명-로마자 변환</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">서비스API</a></li>
                <li><a href="#">데이터랩</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">단축 URL</a></li>
                <li><a href="#">이미지캡차</a></li>
                <li><a href="#">음성캡차</a></li>
                <li><a href="#">네이버 공유하기</a></li>
                <li><a href="#">모바일앱 연동</a></li>
                <li><a href="#">네이버 오픈메인</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="ApplicationBox">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">내 애플리케이션</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">애플리케이션 등록</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">API제휴 신청</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">계정 설정</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="NAVER_D2_Box">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">D2 PROGRAM</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">D2.NAVER.COM</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">네이버 오픈소스</a></li>
            </ul>
        </div>
    </div>
    <div class="subMenuBox" id="Support_Box">
        <div class="subMenuItem">
            <ul>
                <li><a href="#">공지사항</a></li>
            </ul>
        </div>
        <div class="subMenuItem">
            <ul>
                <li><a href="#">라이선스 준수</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="slider_wrap">
    <div class="slider">
        <img src="{% static 'image/slide_img_01.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_02.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_03.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_04.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_05.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_06.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_07.png' %}" class="slideImage">
        <img src="{% static 'image/slide_img_08.png' %}" class="slideImage">
    </div>
    <div class="controls">
        <span class="prev"></span>
        <span class="next"></span>
    </div>
    <div class="pager">
        <a data-slide-index="0" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="1" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="2" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="3" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="4" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="5" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="6" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
        <a data-slide-index="7" href=""><img src="{% static 'image/controlButton1.png' %}" class="controlButton"></a>
    </div>
</div>
<div id="service_wrap"> <!-- service_wrap 시작-->
    <article id="service">
        <div id="service_list">
            <ul id="service_index">
                <li><a href="#"><img src="{% static 'image/CLOVA_ICON.png' %}"><br><span>CLOVA</span></a></li>
                <li><a href="#"><img src="{% static 'image/LOGIN_ICON.png' %}"><br><span>네이버 아이디로 로그인</span></a></li>
                <li><a href="#"><img src="{% static 'image/PAPAGO_ICON.png' %}"><br><span>papago</span></a></li>
                <li><a href="#"><img src="{% static 'image/API_ICON.png' %}"><br><span>서비스 API</span></a></li>
                <li><a href="#"><img src="{% static 'image/CLOUD_ICON.png' %}"><br><span>네이버 클라우드 플랫폼</span></a></li>
            </ul>
        </div>
    </article>
</div> <!-- service_wrap 종료-->
<div id="view_wrap"> <!-- view_wrap 시작-->
    <div id="view_list">
        <ul>
            <li>
                <a href="#">
                    <div class="view_img" id="view_01"></div>
                    <div class="view_title">
                        <p class="view_read">[네이버 아이디로 로그인] '이용자 고유 식별자' 발급 스펙 변경 관련 공지</p>
                        <p class="view_time_eye"><img src="{% static 'image/view01.png' %}"></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="view_img"></div>
                    <div class="view_title">
                        <p class="view_read">NAVER API 서비스 이용약관의 단축 URL 특약조건 신설 공지(2021년 4월 12일 시행 예정)</p>
                        <p class="view_time_eye"><img src="{% static 'image/view02.png' %}"></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="view_img" id="view_03"></div>
                    <div class="view_title">
                        <p class="view_read">[네이버 아이디로 로그인] 이용자 프로필 정보 추가 제공 관련 공지</p>
                        <p class="view_time_eye"><img src="{% static 'image/view03.png' %}"></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="view_img"></div>
                    <div class="view_title">
                        <p class="view_read">[네이버 아이디로 로그인] 네이버 API 서비스 이용약관의 네아로 특약조건 개정 공지(2020년 12월 21일 시행 예정)</p>
                        <p class="view_time_eye"><img src="{% static 'image/view04.png' %}"></p>
                    </div>
                </a>
            </li>
            <a href="#" class="view_all">
                <div>VIEW ALL</div>
            </a>
        </ul>
    </div>
</div> <!-- view_wrap 종료-->
<div id="foot_wrap"> <!-- foot_wrap 시작-->
    <div id="foot_area"> <!-- foot_area 시작-->
        <div id="info"> <!-- info 시작-->
            <div id="info_pc"> <!-- info_pc 시작-->
                <a href="#">
                    <span>이용약관</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>개인정보처리방침</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>제휴신청</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>개발자포럼</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>개발자채용</span>
                </a>
                <div class="copyright">
                    <a href="#" target="_blank"><img src="{% static 'image/naver_logo.png' %}"></a>
                    <p class="text">Copyright©</p>
                    <a href="#">
                        <strong class="text">NAVER Corp.</strong>
                    </a>
                    <p class="text">All Rights Reserved.</p>
                </div>
            </div> <!-- info_pc 종료-->
            <div id="Responsive_copyright"> <!-- 반응형 copyright 시작-->
                <a href="#">
                    <span>로그인</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>개발자포럼</span>
                </a>
                <span>|</span>
                <a href="#">
                    <span>개발자채용</span>
                </a>
                <div class="copyright">
                    <a href="#" target="_blank"><img src="{% static 'image/naver_logo.png' %}"></a>
                    <p class="text">Copyright©</p>
                    <a href="#">
                        <strong class="text">NAVER Corp.</strong>
                    </a>
                    <p class="text">All Rights Reserved.</p>
                </div> <!-- 반응형 copyright 종료 -->
            </div> <!-- info_pc 종료-->
        </div><!-- info 종료-->
    </div> <!-- foot_area 종료-->
</div> <!-- foot_wrap 종료-->
</div> <!-- wrap 종료-->
</body>
</html>